.panelicon {
    padding-right: 5px;
}

/*.p-card {*/
/*    border: 3px solid rgba(27, 31, 35, .15);*/
/*    border-radius: 6px;*/
/*    padding: 5px;*/
/*    margin-bottom: 5px;*/
/*    background: #e1f1f5;*/
/*    margin: 0px;*/
/*}*/

.statscard .p-card-body {
    padding: 5px;
}
.statscard .p-card-content {
    padding: 0px;
    /*margin: 0px;*/
    /*background: red;*/
}

.mapcard .p-card-body {
    padding: 5px;
}
.mapcard .p-card-content {
    padding: 5px;
    /*margin: 0px;*/
    /*background: red;*/
}